.marks{
	.sphere{
		fill: #d9d9d9;
	}

	.country{
		fill: #137b80;
		stroke: white;
		stroke-width: 0.1;
	}

	.interiors{
		fill: none;
		stroke: rgb(255, 255, 136);
	}

	.graticules{
		fill: none;
		stroke: #9adbdf;
		stroke-width: 0.5;
	}
}


